.root {
    -fx-background-color: #121212;
    -fx-font-family: 'Noto Sans';
}

#firstCheckBox,
#secondCheckBox {
    -fx-text-fill: #dddddd;
}

#txtLabel {
    -fx-text-fill: #dddddd;
}

#txtFileName {
    -fx-text-fill: #dddddd;
}

#txtResultChecksum {
    -fx-text-fill: #dddddd;
}

#receivedSum {
    -fx-background-color: #2a2a2a;
    -fx-background-radius: 500px;
    -fx-border-radius: 500px;
    -fx-text-fill: #dddddd;
    -fx-border-color: #121212;
}

#receivedSum:focused {
    -fx-border-color: #ffffff;
}

Button {
    -fx-background-color: #f6f6f6;
    -fx-background-radius: 500px;
    -fx-cursor: hand;
}

RadioButton {
    -fx-cursor: hand;
    -fx-text-fill: #dddddd;
}